<%= turbo_frame_tag dom_id(tweet) do %>
  <div class="card m-4">
    <div class="card-body">
      <%= tweet.body %>
    </div>
    <div class="card-footer bg-transparent border-success">
      <%= button_to "Likes (#{tweet.likes_count})", tweet_like_path(tweet), method: :post %>
      <%= button_to "Retweets (#{tweet.retweets_count})", tweet_retweet_path(tweet), method: :post %>

      <%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-sm btn-danger text-white' %>
      <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger text-white' %>
    </div>
  </div>
<% end %>